<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- TODO: favicon -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>СК «Чемпион»</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/static/brand.png" width="30" height="30" class="d-inline-block align-top" alt="">
        СК «Чемпион»
      </a>
    </nav>

    <div class="container">
      <h1>Преимущества</h1>
      <div class="row">
        <div class="col">
          Тренеры – наши тренеры имеют высокую квалификацию и богатый опыт работы
        </div>
        <div class="col">
          Цены – мы не завышаем цен, стараясь делать наши услуги доступными
        </div>
        <div class="col">
          Соревнования – мы проводим соревнования на регулярной основе, присваивая спортивные разряды
        </div>
        <div class="col">
          Система занятий – мы знаем, как научить плавать в кротчайшие сроки и с наибольшим удовольствием
        </div>
        <div class="col">
          Фото и видео – мы фотографируем, снимаем видео и делаем все возможное, чтобы вы могли следить за успехами Ваших детей
        </div>
      </div>
    </div>

    <div class="container">
      <h1>О клубе</h1>
      <div class="row">
        <div class="col">
          Спортивный клуб «Чемпион» основан в 2011 году. За время  работы мы научили плавать более 10 тысяч детей и взрослых. Нами разработана программа по обучению плаванию, которая позволяет планомерно обучать плавать. Мы уделяем внимание каждому нашему клиенту, следим за его успехами и стараемся сделать каждое занятие увлекательным.
        </div>
        <div class="col">
          TODO: Photo
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Записаться</h1>
          <div>
            Обучение проходит в группах по 8-12 человек. Группы формируются по возрасту и навыкам плавания. Мы стремимся сделать обучение не только эффективным, но и максимально комфортным.
          </div>
        </div>
        <div class="col">
          {% if request.GET.success %}
          Ваша заявка принята. В ближайшее время с вами свяжутся наши специалисты.
          Для отправки повторной заявки нажмите <a href="{% url 'index' %}">здесь</a>.
          {% else %}
          {% include 'request_info.html' %}
          {% endif %}
        </div>
      </div>
    </div>

    <!-- <div class="container">
      <h1>Проезд</h1>
      <div>
        <div>
          Проезд от м. Медведково
          Выход из 1-го вагона, далее на авт. № 606 до остановки "Поликлиника"
        </div>
        <div>
          Проезд от м. Бибирево
          Выход из последнего выгона, далее на авт. № 290 до остановки "Поликлиника"
        </div>
        <div>
          Проезд от м. Алтуфьево
          Выход из последнего вагона, далее на авт. № 815, 259 до ост. "Поликлиника"
        </div>
      </div>
    </div> -->

    <footer class="container">
      <p>© Company 2017-2018</p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
