h1 {
    color: #052e5e;
}

.container {
    margin-bottom: 3rem;
}

.block-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.block-description {
    text-align: justify;
}

.nav-info > .nav-item {
    margin-left: 1rem;
}

.advantage-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.advantage-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: #052e5e;
}

.advantage-description {
    text-align: center;
}
