h1, h2 {
    color: #052e5e;
}

h2 {
    font-size: 1.1rem;
    font-weight: 700;
}

.container {
    margin-bottom: 3rem;
}

.block-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.block-description {
    text-align: justify;
}

.fa-envelope {
    margin-right: 0.1rem;
}

.nav-info > .nav-item {
    margin-left: 1rem;
}

.navbar .container {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-info p {
    margin-top: auto;
    margin-bottom: auto;
}

.advantage-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.advantage-title {
    text-align: center;
}

.advantage-description {
    text-align: center;
}

.block-description-slogan {
    font-style: italic;
}

.block-requirements {
    margin-top: 1rem;
}

.block-documents {
    margin-top: 1rem;
}

.location-address-title {
    font-weight: 700;
    color: #052e5e;
}

.location-route-start {
    font-weight: 700;
    color: #052e5e;
}

.location-map {
    width: 100%;
    height: 100%;
}

.trainer-photo {
    border-radius: 50%;
}

.trainer-carousel-item {
    text-align: center;
}

.trainer-photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.trainer-carousel-item p {
    margin-bottom: 0;
}

.trainer-name {
    font-weight: 500;
    color: #052e5e;
}

footer.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.slick-prev::before, .slick-next::before {
    color: #052e5e;
}
