{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>СК «Чемпион»</title>
    <!-- TODO: favicon -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block css-libs %}{% endblock %}

    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static '/main.css' %}">
    
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(54156424, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
  </head>
  <body>    
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="d-inline-block align-top logo-img" src="{% static '/images/brand.png' %}" alt="">
        </a>
        <div class="justify-content-end">
          <div class="navbar-info">
            <p>
              <a href="mailto:info@swimchampion.ru">
                <span class="fa fa-envelope"></span>info@swimchampion.ru
              </a>
              <a href="tel:+7(499)938-59-68">+7(499)938-59-68</span>
                <a class="fa fa-facebook" href="https://www.facebook.com/swimchampion2011"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/sportclubchampion/"></a>
                <a class="fa fa-vk" href="https://vk.com/swimchampion"></a>
            </p>
            <p>
              Адрес: г.Москва, ул. Корнейчука, д.28, к.2
            </p>
          </div>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="block-wrapper bg-light">
      <ul class="nav justify-content-center nav-info">
        <li class="nav-item">
          <a href="mailto:info@swimchampion.ru">
            <span class="fa fa-envelope"></span>info@swimchampion.ru
          </a>
        </li>
        <li class="nav-item">
          <a href="tel:+7(499)938-59-68">+7(499)938-59-68</span>
        </li>
        <li class="nav-item">
          <a class="fa fa-facebook" href="https://www.facebook.com/swimchampion2011"></a>
        </li>
        <li class="nav-item">
          <a class="fa fa-instagram" href="https://www.instagram.com/sportclubchampion/"></a>
        </li>
        <li class="nav-item">
          <a class="fa fa-vk" href="https://vk.com/swimchampion"></a>
        </li>
      </ul>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>

    {% block js-libs %}{% endblock %}
    <noscript><div><img src="https://mc.yandex.ru/watch/54156424" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>
