{% extends "base.html" %}

{% block content %}
    <p>Направление: {{ object.course.name }}</p>
    <h2>Расписание</h2>
    <table class="table">
        <thead>
            <th>День недели</th>
            <th>Время начала</th>
            <th>Продолжнительность</th>
            <th>Место</th>
            <th>Тренеры</th>
        </thead>
        <tbody>
            {% for l in lessons %}
            <tr>
                <td>{{ l.get_week_day_display }}</td>
                <td>{{ l.start_time }}</td>
                <td>{{ l.duration }}</td>
                <td>{{ l.place.name }}</td>
                <td>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a role="button" class="btn btn-primary btn-sm " href="{% url 'lesson-create' object.id %}">Добавить</a>
{% endblock %}
