{% extends "base.html" %}
{% load compact_fullname %}

{% block content %}
    <p>Направление: {{ object.course.name }}</p>
    <div class="container">

        <h1>Расписание</h1>
        <table class="table">
            <thead>
                <th>День недели</th>
                <th>Время начала</th>
                <th>Продолжнительность</th>
                <th>Место</th>
                <th>Тренеры</th>
                <th></th>
            </thead>
            <tbody>
                {% for l in lessons %}
                <tr>
                    <td>{{ l.get_week_day_display }}</td>
                    <td>{{ l.start_time }}</td>
                    <td>{{ l.duration }}</td>
                    <td>{{ l.place.name }}</td>
                    <td>
                        {% for t in l.trainer.all %}
                        {% if not forloop.first %}, {% endif %}
                        {{ t|compact_fullname}}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'lesson-delete' l.group_id l.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a role="button" class="btn btn-primary btn-sm " href="{% url 'lesson-create' object.id %}">Добавить</a>
    </div>
{% endblock %}
